* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: osw;
}

html::-webkit-scrollbar {
    display: none;
}

html, body {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
}

nav div:nth-child(odd) {
    width: 20%;
}

nav .navigation-container {
    width: 60%;
}

nav .logo-container #logo {
    display: block;
    margin: auto;
    max-width: 50%
}

nav .navigation-container #navigation {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav .navigation-container #navigation a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
}

nav .navigation-container #navigation a:hover {
    background-color: white;
    transform: scale(1.1);
    transition: 0.5s;
    color: black;
    border-radius: 10px;
}

nav .profile-container #profile {
    display: block;
    margin: auto;
    max-width: 14%;
    border-radius: 50%;
}

nav .profile-container #profile:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    transition: 0.5s;
}

main .content {
    width: 100vw;
    height: 100vh;
}

main #header {
    background: linear-gradient(90deg, #FF004C, #171717, #FF004C, #171717);
    background-size: 400% 400%;
    animation: animate 12s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #header h1 {
    font-size: 5rem;
    color: white;
    animation: drop 1s;
}

main #header p {
    font-size: 1.5rem;
    color: white;
    animation: drop 1s;
}

main #header a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    background-color: #171717;
    font-size: 1.2rem;
    animation: slide 1s;
}

main #header a:hover {
    color: #FF004C;
    transition: 0.5s;
}

main #dormitories {
    display: flex;
    background: linear-gradient(90deg, #FF004C, #171717, #FF004C, #171717);
    background-size: 400% 400%;
    animation: animate 12s ease-in-out infinite;
}

main #dormitories .dorm-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    align-items: center;
    gap: 30px;
    width: 50%;
    padding: 50px;
}

main #dormitories .dorm-container .dorm {
    position: relative;
    width: 100%;
}

main #dormitories .dorm-container .dorm:hover {
    transform: translateY(-20px);
    transition: 0.5s;
    cursor: pointer;
}

main #dormitories .dorm-container .dorm .dorm-image {
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
}

main #dormitories .dorm-container .dorm-info {
    position: absolute;
    left: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #dormitories .dorm-container .dorm-info .dorm-title {
    padding: 10px;
    background-color: #171717;
    color: white;
}

main #dormitories .dorm-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

main #dormitories .dorm-container-2 h2 {
    font-size: 4rem;
    color: white;
}

main #dormitories .dorm-container-2 p {
    text-align: center;
    font-size: 1rem;
    color: white;
}

main #dormitories .dorm-container-2 a {
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    background-color: #171717;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
}

main #dormitories .dorm-container-2 a:hover {
    color: #FF004C;
    transition: 0.5s;
}

main #reviews .reviews-container {
    display: flex;
}

main #why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}

main #why .why-heading {
    font-size: 3rem;
    color: white;
    width: 100%;
    text-align: center;
}

main #why .why-info {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

main #why .why-info .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 5px #FF004C;
    width: 20%;
    height: 60%;
    border-radius: 25px;
    gap: 10%;
}

main #why .why-info .card p {
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

main #why .why-info .card p span {
    color: green;
}

main #why .why-payment-companies p {
    font-size: 0.9rem;
    color: gray;
    text-align: center;
}

main #why .why-payment-companies .payment-companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

main #about {
    display: flex;
    background: linear-gradient(90deg, #FF004C, #171717, #FF004C, #171717);
    background-size: 400% 400%;
    animation: animate 12s ease-in-out infinite;
}

main #about > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #about .about-right {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

main #about .about-right h2 {
    color: white;
    font-size: 3rem;
}

main #about .about-right p {
    width: 50%;
    height: 50%;
    text-align: justify;
    font-size: 1.5rem;
    color: white;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
}

main #contact {
    background-color: #171717;
    display: flex;
    justify-content: flex-start;
}

main #contact > div {
    height: 100%;
}

main #contact .contact-left {
    width: 40%;
    padding: 50px;
}

main #contact .contact-left a {
    text-decoration: none;
}

main #contact .contact-left .card {
    width: 80%;
    height: 20%;
    display: flex;
    padding: 20px;
    border-bottom: 2px solid white;
}

main #contact .contact-left .card:hover {
    border: 2px solid white;
    transition: 0.5s;
}

main #contact .contact-left .card .card-logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #contact .contact-left .card .card-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    margin-left: 5%;
    color: white;
}

main #contact .contact-left .card .socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

main #contact .contact-left .card .socials a {
    text-decoration: none;
}

main #contact .contact-left .card .socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

main #contact .contact-right {
    padding: 50px;
    width: 60%;
    background-color: #FF004C;
}

main #contact .contact-right .contact-heading h2 {
    font-size: 4rem;
    color: white;
}

main #contact .contact-right .contact-form form {
    display: flex;
    flex-direction: column;
}

main #contact .contact-right .contact-form form input, select, textarea {
    background-color: #171717;
    color: white;
    outline: none;
    padding: 20px;
    margin-top: 2%;
    border: none;
}

main #contact .contact-right .contact-form form label {
    color: white;
    font-size: 1.5rem;
}

main #contact .contact-right .contact-form form .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main #contact .contact-right .contact-form form .buttons > input {
    width: 40%;
}

main #contact .contact-right .contact-form form .buttons > input:hover {
    cursor: pointer;
}

main #footer {
    height: 20vh;
    background-color: #171717;
}

main #footer .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

main #footer .row-1 div:nth-child(odd) {
    background-color: #171717;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 20px;
}

main #footer .row-1 .navigation-container {
    width: 60%;
}

main #footer .row-1 .navigation-container #navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

main #footer .row-1 .navigation-container #navigation a {
    color: white;
    text-decoration: none;
}

main #footer .row-1 .subscribe form {
    display: flex;
}

main #footer .row-1 .subscribe form input, #subscribe-button {
    padding: 10px;
}

main #footer .row-1 .subscribe form input {
    width: 100%;
    background-color: #171717;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

main #footer .row-1 .subscribe form #subscribe-button {
    background-color: #FF004C;
    width: 40%;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

main #footer .row-1 .logo-container img {
    max-width: 40%;
}

main #footer .row-2 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #footer .row-2 > div {
    width: 50%;
}

main #footer .row-2 .credit p {
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-right: 61%
}

main #footer .row-2 .navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
    margin-left: 60%;
}

main #footer .row-2 .navigation ul a {
    text-decoration: none;
}