* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: osw;
}

html::-webkit-scrollbar {
    display: none;
}

html, body {
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

nav .logo-container {
    width: 20%;
}

nav .logo-container img {
    display: block;
    margin: auto;
    width: 200px;
}

nav .navigation-container {
    width: 60%;
}

nav .navigation-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
}

nav .navigation-container ul a {
    text-decoration: none;
    color: white;
}

nav .navigation-container ul a:hover {
    padding: 10px;
    transform: scale(1.2);
    transition: 0.5s;
    background-color: white;
    color: black;
    border-radius: 10px;
}

nav .profile-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 20px;
}

nav .profile-container img {
    width: 50px;
    border-radius: 50%;
}

main #header {
    background: linear-gradient(90deg, #FF004C, #171717, #FF004C, #171717);
    background-size: 500% 500%;
    animation: animate 12s ease-in-out infinite;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #header h1 {
    color: white;
    font-size: 5vw;
    animation: drop 1s;
}

main #header p {
    color: white;
}

main #header a {
    padding: 15px;
    background-color: #171717;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

main #header a:hover {
    color: #FF004C;
    transition: 0.3s;
}

main .content {
    height: 100vh;
}

main #reviews {
    background-color: #171717;
    display: flex;
}

main #reviews > div {
    width: 50%;
}

main #reviews .reviews-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
}

main #reviews .reviews-container .review {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 300px;
    height: 300px;
    align-items: center;
    background-color: blue;
}

main #reviews .reviews-container .review:hover {
    transform: translateY(-10px);
    transition: 0.5s;
    cursor: pointer;
}

main #reviews .reviews-container .review img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
    object-fit: cover;
}

main #reviews .reviews-container .name {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    text-transform: uppercase;
}

main #reviews .reviews-container .rating {
    position: absolute;
    left: 0;
    bottom: 0;
}

main #reviews .reviews-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: red;
}

main #reviews .reviews-heading h2 {
    color: white;
    text-transform: uppercase;
}

main #reviews .reviews-heading .more-reviews {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 60px;
    box-shadow: 0px 0px 10px black;
    padding: 5px 4px;
    border-radius: 50px;
    position: relative;
}

main #reviews .reviews-heading .more-reviews img {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 80%;
}

main #reviews .reviews-heading .more-reviews #img-2 {
    left: 15px;
    z-index: 1;
}

main #reviews .reviews-heading .more-reviews #img-3 {
    left: 27px;
    z-index: 2;
}

main #reviews .reviews-heading .more-reviews #img-4 {
    left: 37px;
    z-index: 3;
}




main #reviews .revo

main #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    background-color: #171717;
}

main #about .about-container h2 {
    color: white;
}